body {
    /* background-color: darkseagreen; */
    padding-left: 40px;
   
}
.jumbotron {
    width: 1200px;
    height: 20px;
    /* size: cover; */
    /* size: inherit; */
    background-color: rgb(112, 218, 236);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQIhVxfrCyXZbLPphvJl9juBtjS5ZuICa05g&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: white;
    padding: none;
    
}

.btn {
    margin-top: 10px;
    width: 70px;
    /* height: 10px; */
    background-color: antiquewhite;
    padding: 5px;
    text-align: center;
    size: inherit;
 
}
.logo {
    /* margin-top: 0px; */
    margin-left: 10px;
    opacity: 50%;
    padding-top: 1px;

}
.navbar {
    margin-left: 420px;
    padding-left: 10px;
    margin-bottom: 10px;
   
    
   
}
ul#navbar li {
    display: inline;
    text-align: right;
    float: right;
    padding: 2px;
    margin-left: 5px;
    font-size: 13px;
    margin-bottom: 5px;
}
h4 {
    text-align: center;
    margin-bottom: 5px;
    padding-top: -20px;
    color: blue;
    font-size: xx-large;
}
li {
    text-align: right;
}
.caption {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: rgb(78, 4, 252);

}
/* .figure {
    vertical-align: top;
    align-items: center;
} */
.column {
    float: left;
    width: 32%;
    padding: 5px;
    margin-left: 5px;
  }
.menubar1 {
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 10px;
    justify-content: center;
    
}

#btn {
    width: 90px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(248, 194, 44);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    width: 50px;
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
    size: inherit;
    width: 90px;
    height: 30px;
    border-radius: 20px;
 
}
.dropdown {
    position: flex;
    display: inline-block;
    margin-left: 1050px;
    padding-left: 10px;
    margin-bottom: 180px;
    margin: top 0px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 13px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: crimson;}
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: aliceblue;}

.italic {
    font-style: italic;
}
/* .row {
    padding-left: 10px;
} */