body {
    background-color: darkseagreen;
    padding: 24px;
    padding-top: 60px;
}
.jumbotron {
    width: 110%;
    height: 20px;
    size: cover;
    size: inherit;
    background-color: rgb(174, 175, 190);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQIhVxfrCyXZbLPphvJl9juBtjS5ZuICa05g&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: white;
    
}
#card {
    background-color: blue;
     width: 90px;
    height: 700px;
     margin-left: 1190px;
     padding-right: 10px;
     float: inherit;
}
.btn {
    margin-top: 30px;
    width: 70px;
    /* height: 10px; */
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
    size: inherit;
 
}
.logo {
    /* margin-top: 0px; */
    margin-left: 10px;
    opacity: 50%;
    padding-top: 1px;

}
.navbar {
    margin-left: 400px;
    padding-left: 20px;
    margin-bottom: 20px;
   
    
   
}
ul#navbar li {
    display: inline;
    text-align: right;
    float: right;
    padding: 2px;
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 10px;
}
h4 {
    text-align: center;
    margin-bottom: 5px;
    padding-top: -20px;
    color: blue;
    font-size: xx-large;
}
li {
    text-align: right;
}
.caption {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: white;

}
/* .figure {
    vertical-align: top;
    align-items: center;
} */
.column {
    float: left;
    width: 32%;
    padding: 5px;
    margin-left: 5px;
  }
.menubar1 {
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 10px;
    justify-content: center;
    
}
#btn {
    width: 90px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(248, 194, 44);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
